DJANGO_SETTINGS_MODULE='verzekeringen_api.settings'


# PROJECT_NAME='verzekeringen_api'
BASE_DIR="__BASE_DIR__"
IPYTHONDIR="__BASE_DIR__/etc/ipython"
# PYTHONSTARTUP="__BASE_DIR__/etc/pythonstartup.py"

# caching
CACHE_DIR="__BASE_DIR__/var/cache/"
BLACK_CACHE_DIR="__BASE_DIR__/var/cache/black"
IPYTHON_CACHE_DIR="__BASE_DIR__/var/cache/ipython"
MYPY_CACHE_DIR="__BASE_DIR__/var/cache/mypy"
PRE_COMMIT_HOME="__BASE_DIR__/var/cache/pre-commit"
PYLINTHOME="__BASE_DIR__/var/cache/pylint"
# RUFF_CACHE_DIR="__BASE_DIR__/var/cache/ruff" # use python -m ruff
