DJANGO_SETTINGS_MODULE='verzekeringen_api.settings'


# PROJECT_NAME='verzekeringen_api'
BASE_DIR="__BASE_DIR__"
IPYTHONDIR="__BASE_DIR__/etc/ipython"
# PYTHONSTARTUP="__BASE_DIR__/etc/pythonstartup.py"

# caching
CACHE_DIR="__BASE_DIR__/var/cache/"
BLACK_CACHE_DIR="__BASE_DIR__/var/cache/black"
IPYTHON_CACHE_DIR="__BASE_DIR__/var/cache/ipython"
MYPY_CACHE_DIR="__BASE_DIR__/var/cache/mypy"
PRE_COMMIT_HOME="__BASE_DIR__/var/cache/pre-commit"
PYLINTHOME="__BASE_DIR__/var/cache/pylint"
# RUFF_CACHE_DIR="__BASE_DIR__/var/cache/ruff" # use python -m ruff


SECRET_KEY="*****"
DEBUG="True"
IS_ACCEPTANCE="False"
ALLOWED_HOSTS="localhost,127.0.0.1,[::1],*****"
BASE_URL="https://localhost:8000"
DB_ENGINE="django.db.backends.postgresql"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="verzekeringen"
DB_USER="verzekeringen"
DB_PASSWORD="Azerty123"
STATIC_ROOT="*****/verzekeringen-backend/static"
CORS_ORIGIN_WHITELIST="https://localhost:8000"
CSRF_TRUSTED_ORIGINS="https://localhost"
OIDC_OP_ISSUER="https://login.scoutsengidsenvlaanderen.be/realms/scouts"
OIDC_OP_JWKS_ENDPOINT="/.well-known/openid-configuration"
OIDC_OP_AUTHORIZATION_ENDPOINT="/protocol/openid-connect/auth"
OIDC_OP_TOKEN_ENDPOINT="/protocol/openid-connect/token"
OIDC_OP_USER_ENDPOINT="https://groepsadmin.scoutsengidsenvlaanderen.be/groepsadmin/rest-ga/lid/profiel"
OIDC_RP_CLIENT_ID="verzekeringen"
OIDC_RP_CLIENT_SECRET="a"
DEFAULT_FILE_STORAGE="scouts_auth.inuits.files.StorageService"
FILE_UPLOAD_ALLOWED_EXTENSIONS="pdf,jpg,jpeg,png,webp,xlsx,ods"
OVERWRITE_EXISTING_FILE="True"
USE_S3_STORAGE="True"
S3_ACCESS_KEY="******"
S3_ACCESS_SECRET="*****"
S3_ENDPOINT_URL="*****"
S3_STORAGE_BUCKET_NAME="*********"
GROUP_ADMIN_BASE_URL="https://groepsadmin.scoutsengidsenvlaanderen.be/groepsadmin/rest-ga"
KNOWN_ADMIN_GROUPS="X1027G,X9011G"
KNOWN_TEST_GROUPS=''
KNOWN_ROLES="role_section_leader,role_group_leader,role_district_commissioner,role_administrator"
SECTION_LEADER_IDENTIFIER="Leiding"
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_URL="smpt://localhost"
EMAIL_HOST="localhost"
EMAIL_PORT="25"
USE_SENDINBLUE="True"
SENDINBLUE_BACKEND="anymail.backends.sendinblue.EmailBackend"
SENDINBLUE_API_KEY="*********"
SENDINBLUE_TEMPLATE_ID="109"
EMAIL_INSURANCE_FROM="Verzekeringen | Scouts en Gidsen Vlaanderen <verzekeringen@scoutsengidsenvlaanderen.be>"
EMAIL_INSURER_ADDRESS="*******"
EMAIL_TEMPLATE="None"
RESOURCES_PATH="resources/"
RESOURCES_MAIL_TEMPLATE_PATH="mail/"
RESOURCES_MAIL_TEMPLATE_START="scouts_mail_template_start.html"
RESOURCES_MAIL_TEMPLATE_END="scouts_mail_template_end.html"
RESOURCES_INSURANCES_TEMPLATE_PATH="insurance_requester.html"
RESOURCES_CLAIMS_INSURER_TEMPLATE_PATH="insurer.html"
RESOURCES_CLAIMS_VICTIM_TEMPLATE_PATH="victim.html"
RESOURCES_CLAIMS_STAKEHOLDER_TEMPLATE_PATH="declarant.html"
INSURANCE_FILES_BASE_PATH="verzekeringen/"
INSURANCE_FILE_NAME_PREFIX="verzekeringen"
INSURANCE_CLAIM_FILES_BASE_PATH="schadeaangiftes/"
INSURANCE_CLAIM_FILE_NAME_PREFIX="Schadeaangifte Scouts en Gidsen Vlaanderen"
INSURANCE_CLAIM_FILE_NAME_SUFFIX="bijlage"
INSURANCE_EVENT_PARTICIPANT_LIST_FILES_BASE_PATH="verzekeringen/"
INSURANCE_EVENT_PARTICIPANT_LIST_FILE_NAME_PREFIX="deelnemerslijst"
EMAIL_INSURANCE_BCC="*****"
EMAIL_DEBUG_RECIPIENT="*******"
